<%- include('partials/header.ejs') %>
<h1>COMPOSE</h1>
<form action="/compose" method="post">
    <input type="text" name="compose" id="compose">
    <button type="submit" name="button">PUBLISH</button>
</form>
<%- include('partials/footer.ejs') %>
